
div{
	z-index:100
}div div{
	z-index:90
}div div div{
	z-index:80
}div div div div{
	z-index:70
}div div div div div{
	z-index:60
}div div div div div div{
	z-index:50
}div div div div div div div{
	z-index:40
}div div div div div div div div{
	z-index:30
}div div div div div div div div div{
	z-index:20
}div div div div div div div div div div{
	z-index:10;
}

.loader {
	margin:auto;
	z-index: 1;
	width: 50%;
	height: 50%;
	border: 4px solid #f3f3f3;
	border-radius: 50%;
	border-top: 4px solid #3498db;
	width: 30px;
	height: 30px;
	-webkit-animation: spin 2s linear infinite;
	animation: spin 2s linear infinite;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.display-linebreak{
	white-space:pre-line;
}

body{
}

.pointer{
	cursor:pointer;
}

.instaImage:hover{
	opacity:0.2
}

.bg-grey{
	background-color:#BDB7B7;
}
.text-hider-grey{
    background: linear-gradient(to bottom,  rgba(189,183,189,0) 25%,rgba(189,183,189,1) 100%);
	z-index:300;
}

.imgClick {
  animation: App-logo-spin infinite 45s linear;
  pointer-events: none;
}

.introText{
	max-height:45%; 
	overflow:hidden;
	color:#ffffff;
}

.introPic{
	width:100%;
	height:100%;
	z-index:500;
	position:absolute
}
.introPic:hover{
	opacity:0;
	color:initial;
}

#myAthletics h2{
	background: -webkit-radial-gradient(circle, blue, white);
	background: radial-gradient(circle, blue, white);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	position:relative;
	margin:0;
	z-index:1;
}

#myAthletics h2::before{ 
	content:attr(data-title); 
	font-weight:bold;
	position:absolute;
	top:0; left:0;
	z-index:-1;
	color:black;
	z-index:1;
	filter:blur(5px);
}